{
	"local_directory_list": {
		"/home/kenta/ks/projects": {
		}
	},
	"server_list": {
		"example.sagittar.org": {
			"local_directory": "/home/kenta/ks/projects"
		}
	},
	"fqdn_list": {
		"example.sagittar.org": {
			"server": "example.sagittar.org"
		}
	},
	"application_list": {
		"example": {
			"fqdn": "example.sagittar.org",
			"remote_port": 444,
			"local_port": 8001,
			"origin": "https://github.com/kentasaito/ks_example.git"
		}
	}
}
